$gray-dark: #444;
$azul-molon: #6f9ec8;
$rosa-claro: #ffcfd5;
$morao-claro: #c9a7ed;

@font-face {
        font-family: "GrotesqueBold";
        src: url("~Fonts/grotesque/Brandon_bld.otf") format("opentype");}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
}

.bg-bike {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('~Images/bike.jpeg'); /* "~" makes it resolve like a module, and Images is an alias for
                                                   /site/img/ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.bg-title {
    color: white;
    font-family: "GrotesqueBold";
    font-size: 6vw;
    text-shadow: 2px 2px $gray-dark;
    font-weight: 500;
}

.section {
    text-align: center;
    padding: 4em;
    h2 {
        padding: 1.5em;
        font-weight: 900;
        font-family: Trebuchet MS, sans-serif;
    }
    &.bar-graph {
        padding-bottom: 10em;
        background-color: #f3f3f3;
    }
}

.footer {
    background-color: $gray-dark;
    text-align: center;
    padding: 2em;
    color: white;
    a {
        color: #D46A6A;
        &:hover {
            color: #FF0C0C;
        }
    }
}

.controls {
    margin-bottom: 4em;
    input.flatpickr-input {
        padding: 8px;
        line-height: 26px;
        max-height: 26px;
        width: 20em;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
